// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: '../images/art-1.jpg'
}


small { 
  text-decoration: line-through;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 50%;
  margin: 10px auto;
}
